openapi: 3.1.0
info:
  title: Inventario API
  description: "A RESTful API designed to serve as the backend for a web-based Point of Sale (POS) system. It manages products, sales, inventory, and user authentication, providing endpoints for various POS operations."
  version: 1.0.0
  contact:
    email: abdulhamidmazroua@gmail.com
servers:
  - url: https://www.hameed.vip/inventario/api/v1
    description: Production server
  - url: http://localhost:8080/inventario/api/v1
    description: Local development server

tags:
  - name: Actuators
    description: Endpoints for monitoring application's Health
  - name: Authentication
    description: Authentication endpoints for login and token generation
  - name: UserEntity
    description: Operations about userEntity management
  - name: Customer
    description: Operations about customer management
  - name: Product
    description: Operations about product management
  - name: Category
    description: Operations about category management
  - name: Supplier
    description: Operations about supplier management
  - name: Purchase Order
    description: Operations about purchase order management
  - name: Sale
    description: Operations about sales management
  - name: Unit Of Measure
    description: Operations about unit of measure management
  - name: Product Return
    description: Operations about product return management

paths:
  # GetALL/Update/Add Entities
  /products:
    $ref: "paths/v1/products.yaml"
  /customers:
    $ref: "paths/v1/customers.yaml"
  /suppliers:
    $ref: "paths/v1/suppliers.yaml"
  /categories:
    $ref: "paths/v1/categories.yaml"
  /unit-of-measures:
    $ref: "paths/v1/unit-of-measures.yaml"
  /purchase-orders:
    $ref: "paths/v1/purchase-orders.yaml"
  /sales:
    $ref: "paths/v1/sales.yaml"
  /product-returns:
    $ref: "paths/v1/product-returns.yaml"

  # Get/Delete an Entity By ID
  /products/{id}:
    $ref: "paths/v1/products_{id}.yaml"
  /customers/{id}:
    $ref: "paths/v1/customers_{id}.yaml"
  /suppliers/{id}:
    $ref: "paths/v1/suppliers_{id}.yaml"
  /categories/{id}:
    $ref: "paths/v1/categories_{id}.yaml"
  /unit-of-measures/{id}:
    $ref: "paths/v1/unit-of-measures_{id}.yaml"
  /purchase-orders/{id}:
    $ref: "paths/v1/purchase-orders_{id}.yaml"
  /sales/{id}:
    $ref: "paths/v1/sales_{id}.yaml"
  /product-returns/{id}:
    $ref: "paths/v1/product-returns_{id}.yaml"

  # Non-standard CRUD Operations
  /purchase-orders/receive/{id}:
    $ref: "paths/v1/purchase-orders_receive.yaml"

  # users
  /users:
    $ref: "paths/v1/users.yaml"

  /users/authorize/{username}:
    patch:
      tags:
        - UserEntity
      summary: Add new roles to the user
      security:
        - BearerAuth: [ ]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: New role request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleRequest'
      responses:
        "201":
          description: Created
          content:
            application/hal+json:
              schema:
                allOf:
                  - $ref: "components/responses/v1/ResponseDTO.yaml"
                  - type: object
                    properties:
                      data:
                        $ref: "components/schemas/v1/basic/UserDTO.yaml"
        404:
          description: Username Not Found
          content:
            application/json:
              schema:
                $ref: "components/responses/Problem.yaml"
        403:
          description: Forbidden (Insufficient permissions)

  /users/deleteUser/{username}:
    delete:
      tags:
        - UserEntity
      operationId: deleteCustomer
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "404":
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: "components/responses/Problem.yaml"

  /users/changePassword:
    patch:
      tags:
        - UserEntity
      summary: Change password for the authenticated user
      security:
        - BearerAuth: [ ]
      requestBody:
        description: Password change request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordChangeRequest'
      responses:
        201:
          description: Password updated successfully
        403:
          description: Forbidden (Insufficient permissions)

  /users/changePassword/{username}:
    patch:
      tags:
        - UserEntity
      summary: Change password for specific user (only for admin)
      security:
        - BearerAuth: [ ]
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Password change request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordChangeRequest'
      responses:
        201:
          description: Password updated successfully
        403:
          description: Forbidden (Insufficient permissions)

  # security authentication
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login to generate a JWT token
      requestBody:
        description: Credentials for authentication
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        200:
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        401:
          description: Unauthorized (Invalid credentials)

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AuthRequest:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
        - username
        - password
        -
    AuthResponse:
      type: object
      properties:
        token:
          type: string

    PasswordChangeRequest:
      type: object
      properties:
        newPassword:
          type: string
      required:
        - newPassword

    RoleRequest:
      type: object
      properties:
        role:
          type: string
          description: Role that needs to be added to the user
          example: MANAGER

security:
  - BearerAuth: []
